<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <section class="section">
            <div class="container">
                {% for message in get_flashed_messages() %}
                <div class="notification is-warning">
                    <div class="flash">{{ message }}</div>
                </div>
                {% endfor %}
            </div>
            {% block body %}{% endblock %}
        </section>
        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Poller</strong> by <a href="https://entropy.energy">Alexei Gilchrist</a>.
                </p>
            </div>
        </footer>
    </body>
</html>
