{% extends "base.html" %}
{% block title %}Choose poll{% endblock %}
{% block body %}
<form method="POST" action="/">
    <div class="field">
        <label class="label">Join Poll</label>
        <div class="control">
            <input class="input" type="text" placeholder="Poll code" name="pollcode">
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
