{% extends "base.html" %}
{% block title %}Vote{% endblock %}
{% block body %}
<form action="/vote">
    <input type="hidden" name="pollcode" value="{{ pollcode }}">
    <div class="buttons">
    {% for v in values %}
    {% if v == vote %}
        <button class="button is-medium is-fullwidth is-info" disabled name="vote" value="{{ v }}">{{ v }}</button>
        {% else %}
        <button class="button is-medium is-fullwidth is-info" name="vote" value="{{ v }}">{{ v }}</button>
    {% endif %}
    {% endfor %}
    </div>
</form>
{% endblock %}
