{% extends "base.html" %}
{% block title %}Poller{% endblock %}
{% block extrahead %}
<!-- <meta http-equiv="refresh" content="3"> -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="/static/js/qrious.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
 $(document).ready(function() {
     setInterval("getvotes()",3000); // call every 3 seconds
 });

 function getvotes() {
     $.getJSON("/_get_votes/{{pollcode}}",
               function(data) {
                   $("#numberofvotes").text(data.votes)
     })
 }
</script>
{% endblock %}
{% block body %}
<div class="columns is-mobile is-centered">
    <div class="column">
        {% if status == 1 %}
        <canvas id="myChart" width="280px" height="320px"></canvas>
        {% else %}
        <p class="is-size-4 has-text-centered">{{host}}/{{pollcode}}</p>
        <canvas id="qr"></canvas>
        {% endif %}
    </div>
    <div class="column">
        <div class="mb-3 has-text-centered">
            <p class="heading">Votes</p>
            <p class="title" id="numberofvotes">{{ votes|length }}</p>
        </div>
        <div class="buttons">
            <a class="button is-primary" href="/poller">Refresh</a>
            <a class="button is-link" href="/togglestatus/{{pollcode}}">
                {% if status == 1 %} Hide {% else %} Show {% endif %}</a>
            <a class="button is-warning mt-3" href="/clearvotes/{{pollcode}}">Clear Votes</a>
            <form  method="post" action="/changepoll">
                <div class="select">
                    <input type="hidden" name="pollcode" value="{{pollcode}}">
                    <select class="is-warning" name="pollvalues" onchange="this.form.submit()">
                    <option value="A B C D E" {% if pollvalues=="A B C D E" %}selected{% endif %}>A B C D E</option>
                    <option value="A B C D" {% if pollvalues=="A B C D" %}selected{% endif %}>A B C D</option>
                    <option value="A B C" {% if pollvalues=="A B C" %}selected{% endif %}>A B C</option>
                    <option value="A B" {% if pollvalues=="A B" %}selected{% endif %}>A B</option>
                    <option value="Yes No" {% if pollvalues=="Yes No" %}selected{% endif %}>Yes No</option>
                </select>
            </div>
            </form>
            <a class="button is-danger  mt-3" href="/changecode/{{pollcode}}">Change Code</a>
        </div>


    </div>
</div>
<div>
    <a href="/logout">Logout</a>
    <script>
     (function() {
         var qr = new QRious({
             element: document.getElementById('qr'),
             value: 'http://{{host}}/{{pollcode}}',
             size: 280,
         });
     })();
    </script>
    <script>
     var ctx = document.getElementById('myChart');
     var myChart = new Chart(ctx, {
         type: 'bar',
         data: {
             labels: {{labels|safe}},
             datasets: [{
                 label: 'Votes',
                 data: {{values|safe}},
                 backgroundColor: 'rgba(81, 151, 214, 1.0)',
                 hoverOffset: 4
             }]
         },

         options: {
             legend: {
                 labels: {
                     // This more specific font property overrides the global property
                     font: {
                         size: 30
                     }
                 }
             }
         }

     });
    </script>
</div>
{% endblock %}
